h1{
  text-align: center;
}

.btn-danger{
  margin-left: 1rem;
}

.user-form{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  .btn-secondary{
    margin-top: 1.5rem;
  }
}