<h1> Users Component! </h1>

<form [formGroup]="userForm" class="row user-form">
    <div class="col">
        <label>Id:</label>
        <input type="number" formControlName="id" class="form-control" id="id">
    </div>
    <div class="col">
        <label>Name:</label>
        <input type="text" formControlName="name" class="form-control" id="name">
    </div>
    <div class="col">
        <button type="submit" [disabled]="userForm.invalid" type="button" class="btn btn-secondary" (click)="addUser()">Add</button>
    </div>
</form>

<div class="p-3">
    <div class="d-flex flex-row align-items-center justify-content-between">
        <h2>Users Record</h2>
        <button type="button" class="btn btn-success" (click)="fetchUsers()">Get Users</button>
        <!-- <button type="button" class="btn btn-secondary" (click)="downloadAndOpenFile()">Download & Open</button> -->
        <!-- <button type="button" class="btn btn-secondary" (click)="downloadAndOpenInNewTab()">Download In New Tab</button> -->
    </div>
    <table class="table">
      <thead class="table-dark" *ngIf="users.length">
        <tr>
            <th *ngFor="let heading of headings; let i=index">{{ heading }}</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
            <td> {{ user._id }}</td>
            <td> {{ user.id }}</td>
            <td> {{ user.name }}</td>
            <td>
             <button type="button" class="btn btn-success" (click)="editUserById(user._id)"> Edit </button>
             <button type="button" class="btn btn-danger" (click)="deleteUserById(user._id)"> Delete </button>
            </td>
        </tr>
      </tbody>
    </table>
  </div>